@font-face {
  font-family: me_quran;
  src: url(//cdn.rawgit.com/alpancs/quranize/2fe62dd7/public/me_quran.ttf);
}

.quran-text {
  font-family: me_quran;
  font-size: 1.15em;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

mark {
  background-color: rgba(255,255,0,0.75);
}
