<!DOCTYPE html>
<html>
<head>
  <title>Quranize</title>
  <meta name="description" content="transforms {{.Transliteration}} into {{.QuranText}}">
  <meta content="/android-chrome-192x192.png" property="og:image">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Quranize">
  <meta name="application-name" content="Quranize">
  <meta name="theme-color" content="#2196f3">

  <link rel="stylesheet" href="/material.blue-pink.1.3.0.min.css">
  <link rel="stylesheet" href="/home.css?v={{.CssVersion}}">
</head>
<body>
  <div id="app" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><strong>Quranize</strong></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i> Home</a>
          <a class="mdl-navigation__link" href="//t.me/quranize"><i class="material-icons">notifications_active</i> Telegram Channel</a>
          <a class="mdl-navigation__link" href="//github.com/alpancs/quranize-service"><i class="material-icons">code</i> Source Code</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i> Home</a>
        <a class="mdl-navigation__link" href="//t.me/quranize"><i class="material-icons">notifications_active</i> Telegram Channel</a>
        <a class="mdl-navigation__link" href="//github.com/alpancs/quranize-service"><i class="material-icons">code</i> Source Code</a>
      </nav>
    </div>

    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-typography--title text-center">transforms <strong>${transliteration}</strong> into <strong>${quran}</strong></div>
          </div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
            <!-- input -->
            <div class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                <input class="mdl-textfield__input text-center" type="text" id="keyword" v-model.trim="keyword" autofocus>
                <label class="mdl-textfield__label text-center" for="keyword">subhanallah</label>
              </div>
            </div>
            <!-- end of input -->
            <!-- trending keywords -->
            <div v-show="!willRequest && !keyword" class="mdl-grid">
              <div v-show="trendingKeywords.length" class="text-center mdl-cell mdl-cell--12-col">Trending Now</div>
              <a :href="'/'+trendingKeyword" v-for="trendingKeyword in trendingKeywords" class="text-center mdl-chip mdl-cell">
                <span class="mdl-chip__text">${trendingKeyword}</span>
              </a>
            </div>
            <!-- end of trending keywords -->
            <!-- recent keywords -->
            <!-- <div v-show="!willRequest && !keyword" class="mdl-grid">
              <div v-show="recentKeywords.length" class="text-center mdl-cell mdl-cell--12-col">Recent Search</div>
              <a :href="'/'+recentKeyword" v-for="recentKeyword in recentKeywords" class="text-center mdl-chip mdl-cell">
                <span class="mdl-chip__text">${recentKeyword}</span>
              </a>
            </div> -->
            <!-- end of recent keywords -->
            <!-- output -->
            <div class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-cell mdl-cell--12-col">

                <div class="text-center" v-show="loading"><div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div></div>
                <div class="text-center" v-show="isNoResults">no results for <strong>${keyword}</strong></div>

                <div v-for="encoded in encodeds">
                  <div class="text-center">
                    <button @click="locate(encoded)" :title="encoded.expanded ? 'Hide' : 'Locate'" :class="{'mdl-button--raised': encoded.expanded}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored" type="button">
                      <i class="material-icons">${encoded.expanded ? 'expand_less' : 'expand_more'}</i>
                    </button>
                    <span dir="rtl" class="quran-text clipboard" title="Click to Copy">${encoded.text}</span>
                  </div>

                  <div v-show="encoded.expanded && encoded.loading" class="text-center"><div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" ref="encodeds"></div></div>

                  <div v-show="encoded.expanded" v-for="(location, i) in encoded.locations">
                    <div class="text-left">${i+1}. Surah ${location.suraNumber} (<span dir="rtl" class="quran-text clipboard" title="Click to Copy">${location.suraName}</span>) ayah ${location.ayaNumber}</div>

                    <div class="text-right">
                      <div v-show="location.ayaLoading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" :ref="encoded.text"></div>
                    </div>
                    <p v-show="!location.ayaLoading" dir="rtl" class="text-right quran-text clipboard" title="Click to Copy">
                      ${location.beforeHighlightedAya}
                      <mark dir="rtl" class="clipboard">${location.highlightedAya}</mark>
                      ${location.afterHighlightedAya}
                    </p>

                    <div class="text-center">
                      <button @click="shift(location, -1)" :disabled="location.shiftButtonDisabled || location.ayaNumber === 1" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored" title="Previous" type="button">
                        <i class="material-icons">skip_previous</i>
                      </button>
                      <button @click="setLocation(location, 'translation')" :class="{'mdl-button--raised': location.translationShown}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored" title="Translation" type="button">
                        <i class="material-icons">translate</i>
                      </button>
                      <button @click="toggle(location, 'playing')" :class="{'mdl-button--raised': location.playing}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored" :title="location.playing ? 'Stop Mujawwad': 'Mujawwad'" type="button">
                        <i class="material-icons">${location.playing ? 'stop_arrow' : 'play_arrow'}</i>
                      </button>
                      <button @click="setLocation(location, 'tafsir')" :class="{'mdl-button--raised': location.tafsirShown}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored" title="Tafsir" type="button">
                        <i class="material-icons">description</i>
                      </button>
                      <button @click="shift(location, 1)" :disabled="location.shiftButtonDisabled || location.ayaNumber === ayaCounts[location.suraNumber-1]" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--colored" title="Next" type="button">
                        <i class="material-icons">skip_next</i>
                      </button>
                    </div>

                    <div class="text-center" v-if="location.playing">
                      <audio autoplay controls :src="location.audioSource" @ended="location.ayaNumber === ayaCounts[location.suraNumber-1] ? undefined : shift(location, 1)"></audio>
                    </div>

                    <div v-show="location.translationShown">
                      <div><strong>Translation</strong></div>
                      <div v-show="location.translationLoading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" :ref="encoded.text"></div>
                      <p v-show="!location.translationLoading" class="text-left">${location.translation}</p>
                    </div>
                    <div v-show="location.tafsirShown">
                      <div><strong>Tafsir</strong></div>
                      <div v-show="location.tafsirLoading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" :ref="encoded.text"></div>
                      <p v-show="!location.tafsirLoading" class="text-left">${location.tafsir}</p>
                    </div>
                    <hr>
                  </div>
                </div>

              </div>
            </div>
            <!-- end of output -->

            <!-- sharing -->
            <div v-show="encodeds.length" class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col text-center">
                <button id="share-link" title="Share Result" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-js-ripple-effect">
                  <i class="material-icons">share</i>
                </button>
              </div>
            </div>
            <!-- end of sharing -->
          </div>
        </div>
      </div>
    </main>

    <div ref="notification" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
      <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-snackbar__text text-center"></div>
          <button hidden class="mdl-snackbar__action" type="button"></button>
        </div>
      </div>
    </div>
  </div>
</body>
<script async src="/material.1.3.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue@2.4.4/dist/vue{{if .IsProduction}}.min{{end}}.js"></script>
<script src="//cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
<script src="/home.js?v={{.JsVersion}}"></script>
<script type="text/javascript">app.keyword = {{.Keyword}}</script>
</html>
