<!DOCTYPE html>
<html>
<head>
  <title>Quranize</title>
  <meta name="description" content="Quranize transforms alphabet into Qur'an text.">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css" onload="this.rel='stylesheet'" />
  <link rel="preload" href="/font-awesome-4.7.0/css/font-awesome.min.css" onload="this.rel='stylesheet'" />
</head>
<body>
  <div id="app" hidden :hidden="false">
    <!-- header -->
    <h1 class="top-bar"><div class="text-center top-bar-left"><strong>Quranize</strong></div></h1>
    <h5 class="text-center subheader">Quranize transforms <strong>{{"{{ alphabet || 'alphabet' }}"}}</strong> into <strong>{{`{{ quran || "Qur'an text" }}`}}</strong>.</h5>

    <div class="row">
      <div class="small-1 medium-2 columns"></div>
      
      <!-- main content -->
      <div class="small-10 medium-8 columns">

        <!-- input -->
        <div class="row">
          <div class="small-12 columns">
            <div class="input-group">
              <span class="input-group-label"><i :class="{'fa-pulse fa-spinner': loading, 'fa-search': !loading}" class="fa fa-fw" aria-hidden="true"></i></span>
              <input class="input-group-field" type="text" placeholder="tajri" v-model="input" autofocus>
            </div>
          </div>
        </div>

        <!-- output -->
        <div class="row">
          <div class="small-12 columns">
            <div class="text-center subheader" v-show="noResult">no results</div>

            <dl>
              <div v-for="encoded in encodeds">
                <dt class="text-right">
                  <i v-show="encoded.loading" class="fa fa-fw fa-spinner fa-pulse" aria-hidden="true"></i>
                  <span v-show="!encoded.locations && !encoded.loading" class="badge" style="cursor: pointer;">
                    <i @click="locate(encoded)" class="fa fa-fw fa-list" aria-hidden="true"></i>
                  </span>
                  {{"{{ encoded.text }}"}}
                </dt>
                <dd v-for="(location, index) in encoded.locations">
                  <div class="row">
                    <div class="text-left columns small-12 medium-6">{{"{{ index+1 }}"}}. Sura {{"{{ location.Sura }}"}} aya {{"{{ location.Location.Aya+1 }}"}}:</div>
                    <div class="text-right columns">
                      {{"{{ location.AyaBeforeHL }}"}}
                      <span style="background-color: yellow;">{{"{{ location.AyaHL }}"}}</span>
                      {{"{{ location.AyaAfterHL }}"}}
                    </div>
                  </div>
                </dd>
                <hr>
              </div>
            </dl>

          </div>
        </div>

      </div>
    </div>
  </div>
</body>
<script async src="//unpkg.com/axios/dist/axios.min.js"></script>
{{if .Production}}
  <script src="//unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
{{else}}
  <script src="//unpkg.com/vue@2.3.4/dist/vue.js"></script>
{{end}}
<script src="//cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="/home.js"></script>
</html>
