<!DOCTYPE html>
<html>
<head>
  <title>Quranize</title>
  <meta name="description" content="Quranize transforms alphabet into Qur'an text.">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css" onload="this.rel='stylesheet'" />
</head>
<body>
  <div id="app">
    <h1 class="text-center">Quranize</h1>
    <h3 class="text-center">Quranize transforms alphabet into Qur'an text.</h3>

    <div class="row">
      <div class="medium-3 columns"></div>
      <div class="small-12 medium-6 columns">
        <div class="input-group">
          <input class="input-group-field" type="text" placeholder="tajri">
          <div class="input-group-button">
            <button type="button" class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script async src="https://use.fontawesome.com/856743dd7b.js"></script>
{{if .Production}}
  <script src="//unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
{{else}}
  <script src="//unpkg.com/vue@2.3.4/dist/vue.js"></script>
{{end}}
<script src="/app.js"></script>
</html>
